# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

# Visual Studio files
*.vcxproj*
*.vcproj*
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.cachefile
*.dbmdl
*.psess
*.vsp
*.vspscc
*.vssscc
*.ncb
*.opensdf
*.tlog
*.log
*.ipch
*.pfx
*.publish.xml
*.vs/
*.VC.db

# VSCode files
.vscode/
.history/
.code-workspace
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
out/
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
